 ## 03.  Import Libraries & Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Import Data
path = r'C:\Users\Dell\Documents\Instacart Basket Analysis'

In [3]:
df_customers = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'customers.csv'))

In [ ]:
df_customers.head()

## 04. Wrangling the data

In [4]:
# Renaming columns
df_customers.rename(columns={'Surnam':'surname', 'fam_status':'family_status','STATE':'State','n_dependants':'dependants','First Name':'first_name'}, inplace=True)

In [ ]:
df_customers.head()

In [ ]:
df_customers.info()

In [5]:
# Changing data type of variable user_id to object
df_customers['user_id'] = df_customers['user_id'].astype('str')

In [ ]:
df_customers.info()

## 05. Complete the fundamental data quality and consistency checks

In [ ]:
# Check for mixed types in df_customers
for col in df_customers.columns.tolist():
    weird= (df_customers[[col]].map(type)!=df_customers[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df_customers[weird])>0:
        print (col)

In [ ]:
df_customers['first_name']= df_customers['first_name'].astype('str')

#### Missing values

In [ ]:
# Function to obtain the total missing observations
df_customers.isnull().sum()

#### There are 11,259 missing values in the 'First Name' column.

In [6]:
# Create a subset only containing missing values
df_nan=df_customers [df_customers['first_name'].isnull()==True]

In [ ]:
df_nan

In [8]:
df_customers['first_name'].value_counts (dropna = False)

first_name
NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: count, Length: 208, dtype: int64

In [9]:
# Addressing missing values
df_customers['first_name'].fillna('Unknown', inplace = True)

In [ ]:
df_customers.isnull().sum()

#### Finding duplicate records

In [ ]:
# Finding the duplicates in our df_customers
df_dups = df_customers[df_customers.duplicated()]

In [ ]:
df_dups

#### There are no duplicate records in the dataframe. No action required.

In [ ]:
df_customers.shape

## 06. Combine your customer data with the rest of your prepared Instacart data

In [10]:
# Import latest instacart dataframe
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_grouped.pkl'))

In [ ]:
df_ords_prods_merge.info()

In [11]:
#Change the data type of user_id to string
df_ords_prods_merge['user_id'] = df_ords_prods_merge['user_id'].astype('str')

In [12]:
#Change the data type of order_id to string
df_ords_prods_merge['order_id'] = df_ords_prods_merge['order_id'].astype('str')

### The data frame was divided into two samples, using an 80/20 split, to mitigate memory issues encountered during the data merge.

In [13]:
# Create the seed.
np.random.seed(4)

In [14]:
# Create a list holding True/False values to test the np.random.rand () <= 0.8
dev = np.random.rand(len(df_ords_prods_merge)) <= 0.8

In [15]:
np.random.rand(10)

array([0.93546686, 0.06557465, 0.85698584, 0.24456371, 0.22683171,
       0.17068366, 0.27008946, 0.52534234, 0.83151571, 0.78153402])

In [16]:
# Store 80% of the sample in the dataframe big.
big = df_ords_prods_merge[dev]

In [17]:
# Store 20% of the sample in the dataframe small.
small = df_ords_prods_merge[~dev]

In [18]:
# Merge df_ords_prods_merge with df_customers
df_ords_prods_all = small.merge(df_customers, on=['user_id'])

In [19]:
df_ords_prods_all.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,order_frequency,first_name,surname,Gender,State,Age,date_joined,dependants,family_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,8048,Packaged Grape Tomatoes,32,4,11.4,1421595,138,3,2,9,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,10473,Half And Half Cream,53,16,7.0,3160996,138,1,5,13,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,10473,Half And Half Cream,53,16,7.0,1986630,138,7,0,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
5,10473,Half And Half Cream,53,16,7.0,1593782,138,15,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
6,10473,Half And Half Cream,53,16,7.0,1972635,138,20,6,20,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
7,10473,Half And Half Cream,53,16,7.0,703615,138,25,3,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
8,10473,Half And Half Cream,53,16,7.0,2206168,138,27,3,18,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
9,12341,Hass Avocados,32,4,9.1,505689,138,9,6,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
10,12341,Hass Avocados,32,4,9.1,2329217,138,32,5,20,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
11,15541,Original Almondmilk,91,16,12.0,3052988,138,6,0,6,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
12,15790,Organic Veggie Bites,42,1,9.3,2027699,138,24,1,10,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
13,21292,Rainbow Bell Peppers,32,4,11.7,930730,138,2,0,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
14,21769,Chunky Guacamole,67,20,13.6,2526903,138,14,0,15,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
15,22046,Frozen Whole Strawberries,116,1,14.0,1433006,138,4,0,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
16,22046,Frozen Whole Strawberries,116,1,14.0,1854193,138,29,0,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
17,22046,Frozen Whole Strawberries,116,1,14.0,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
18,22469,Nacho Cheese Flavored Tortilla Chips,107,19,5.1,2526903,138,14,0,15,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
19,28371,Graham Crackers,61,19,3.0,307762,138,16,0,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

## 08. Export this new dataframe as a pickle file

In [20]:
# Export this new dataframe as a pickle file
df_ords_prods_all.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))