# 01 Importing Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [ ]:
# Telling Python to remember a main folder path
path = r'C:/Users/Dell/Documents/Instacart Basket Analysis'
path

In [ ]:
# Importing dataset products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [ ]:
# Importing dataset orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [ ]:
# Importing dataset department .csv
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [ ]:
# Taking a glance at dataset departments.csv
df_dep.head()

# 03 Data Wrangling
Dropping columns

In [ ]:
# Dropping the "eval_set" column from the orders dataframe
df_ords.drop(columns = ['eval_set'])

In [ ]:
# Overwriting the dataframe
df_ords = df_ords.drop(columns = ['eval_set'])

In [ ]:
# Looking for missing values (NaN) in a specific column
df_ords['days_since_prior_order'].value_counts(dropna = False)

# 04 Renaming columns

In [ ]:
# Renaming order_dow column
df_ords.rename(columns ={ 'order_dow' : 'orders_day_of_week'}, inplace = True)

In [ ]:
df_ords.head()

# 05 Changing a variable's data type

In [ ]:
# Changing data type of the column "order_id" from "orders.csv"
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [ ]:
# checking the function
df_ords['order_id'].dtype

# 06 Transposing Data

In [ ]:
# Transposing df_dep.T
df_dep.T

In [ ]:
# New data frame
df_dep_t = df_dep.T

In [ ]:
# Creating an index
df_dep_t.reset_index()

In [ ]:
# Taking the first row of df_dep for the header
new_header = df_dep_t.iloc[0]

In [ ]:
new_header

In [ ]:
# Taking the data under the header row for a new df
df_dep_t_new = df_dep_t[1:]

In [ ]:
df_dep_t_new

In [ ]:
# Setting the new variable as the new header for new df
df_dep_t_new.columns = new_header

In [ ]:
df_dep_t_new

#  07 Creating Data Dictionaries

In [ ]:
# Creating a data dictionary that contains meanings for the values in the "department_id" column
data_dict = df_dep_t_new.to_dict('index')

In [ ]:
data_dict

In [ ]:
df_prods.head()

In [ ]:
# To get the department of id '19'
print(data_dict.get('19'))

In [ ]:
# creating a subset for dataframe df_prods
df_snacks = df_prods [df_prods['department_id']==19 ]

In [ ]:
df_snacks.head()

# The procedures

In [ ]:
# 2.Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [ ]:
df_ords['user_id'].dtype

In [ ]:
# 3.Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe
df_ords.head()

In [ ]:
df_ords.rename(columns = {'order_number' : 'order_progression_number'}, inplace = False)

In [ ]:
# 4.Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings
df_ords['order_hour_of_day'].value_counts()

# The busiest hour for placing order is 10.

In [ ]:
# 5.Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary
df_prods.head()

In [ ]:
print(data_dict.get('4'))

In [ ]:
# 6. The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information
data_dict

In [ ]:
# Breakfast belongs to department_id '14'.
df_breakfast = df_prods[ df_prods['department_id']== 14]

In [ ]:
df_breakfast.head()

In [ ]:
# 7.Find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood
data_dict

In [ ]:
# Creating a subset containing the required info
df_dinner_parties = df_prods[df_prods['department_id'].isin([5,7,12,20])]

In [ ]:
df_dinner_parties.head()

In [ ]:
# 8. How many rows does the last dataframe you created have?
df_dinner_parties.shape

# The data frame created has 7650 rows

In [ ]:
# 9. Extract all the information the user with 'user_id' = 1
df_customer_1 = df_ords[df_ords['user_id']=='1']

In [ ]:
df_customer_1.head()

In [ ]:
df_customer_1.tail()

In [ ]:
#10. You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?
df_customer_1.describe()

# 08. Exporting Dataframes

In [ ]:
# Exporting the df_ords dataframe as “orders_wrangled.csv”
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [ ]:
# Exporting the df_dep_t_new dataframe as “departments_wrangled.csv”
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))